#nad{
        .nad{
        &--block1{
            width: 380px;
            height: 250px;
            background: url("../../image/fut.png") no-repeat center/cover;
        }
        &--block2{
            width: 380px;
            background: url("../../image/fut.png") no-repeat center/cover;
            height: 250px;
        }
    }
}

