#nad{
    background: url("../../image//people.png") no-repeat center/cover;
        .nad{
            &--group{
                .block1{
            width: 380px;
            height: 250px;
        }
        .block2{
            width: 380px;
            height: 250px;
        }
            }
        
    }
}

